<div class="modal-sidebar">
    <div class="modal-sidebar-top">
        <div onclick="toSettingsTab('about', this, '#323232');" class="modal-sidebar-tab"><i18n text="A propos"></i18n></div>
        <div onclick="toSettingsTab('account', this, '#323232');" class="modal-sidebar-tab"><i18n text="Compte"></i18n></div>
        <div onclick="toSettingsTab('language', this, '#323232');" class="modal-sidebar-tab"><i18n text="Langue"></i18n></div>
        <div onclick="toSettingsTab('personalization', this, '#323232');" class="modal-sidebar-tab"><i18n text="Personnalisation"></i18n></div>
    </div>
    <div class="modal-sidebar-bottom">
        <div onclick="toSettingsTab('troubleshooting', this, '#323232');" class="modal-sidebar-tab"><i18n text="Dépannage"></i18n></div>
    </div>
</div>